.mp3-player-directive-wrapper {
    overflow: scroll;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: gold;
    }
    md-card {
        min-height: 9em;
    }
    .marker-dir {
        &:hover {
            cursor: pointer;
            color: #F4511E;
        }
    }

    &-title-text-wrapper {
        margin-left: 6em;
        margin-bottom: 0em;
    }
}

#card-recording-info {
  text-align: left;
  width: 100%;
}

.mp3-player-directive-all-controls-wrapper {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mp3-player-directive-player-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mp3-player-directive-other-controls-wrapper {
  // margin-top: 0.5em;
  padding-right: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mp3-player-directive-outer-wrapper {
    position: relative;
    margin-bottom: 4em;
}

.large-play-button {
  position: absolute;
  top: -40px;
  left: 25px;
}

.large-pause-button {
    position: absolute;
    top: -40px;
    left: 25px;
}
