<md-card
  class="mp3-player-directive-playback-view-wrapper"
  layout="row"
>
    <div id="card-recording-info" layout-align="start center">

        <md-card-title ui-sref="playback-view">
            <md-card-title-text>
                <span class="md-headline">
                  SongJam 10.10.16 07:16 PM
                </span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content
        >
          <p>Waveform goes here...</p>
        </md-card-content>

        <md-card-actions
            layout="row"
            layout-align="end start"
        >
            <md-button class="md-icon-button">
                  <md-icon
                    md-font-icon="favorite"
                    md-font-set="material-icons"
                  >
                    favorite
                  </md-icon>
            </md-button>
            <md-button class="md-icon-button">
                  <md-icon
                    md-font-icon="description"
                    md-font-set="material-icons"
                  >
                    description
                  </md-icon>
            </md-button>
            <md-button class="md-icon-button">
                  <md-icon
                    md-font-icon="share"
                    md-font-set="material-icons"
                  >
                    share
                  </md-icon>
            </md-button>
        </md-card-actions>

        <md-divider></md-divider>

        <md-card-content>
            <h2>Description goes here</h2>
        </md-card-content>

        <md-divider></md-divider>

        <md-card-content>
            <h2>Bookmarks go here</h2>
        </md-card-content>
    </div>

</md-card>
