<md-card
  class="mp3-player-directive-library-view-wrapper recorder-view"
  layout="row"
>
    <div id="card-recording-info" layout-align="start-center">

      <md-card-title>
          <md-card-title-text>
              <span class="md-headline" ng-if="recording.created">
                  {{ recording.created }}
              </span>
              <span class="md-headline" ng-if="!recording.created">
                  Preview your SongJam:
              </span>
          </md-card-title-text>
      </md-card-title>

      <md-card-content
      >
        <!-- <p>Waveform goes here...</p> -->

          <div class="waveform"></div>

          <div
          markers-container-dir
          class="markers-container-dir"
          bookmarks="bookmarks"
          ng-if="duration"
          duration="duration"
          waveform-width="waveformWidth"
          >
              <span
                  marker-dir
                  bookmark="bookmark"
                  duration="duration"
                  ng-click="wavesurfer.play( bookmark.position )"
                  ng-if="duration"
                  ng-repeat="bookmark in bookmarks"
                  waveform-width="waveformWidth"
              >
                  ►
              </span>
          </div>

        <div class="mp3-player-directive-player-controls">
            <span ng-click="wavesurfer.play()">Play</span>
            <span ng-click="wavesurfer.pause()">Pause</span>
            <span ng-click="wavesurfer.stop()">Stop</span>
            <span ng-click="wavesurfer.clearRegions()">Clear Regions</span>
            <a ng-href="{{ audioPreviewUrl }}" download="">Download</a>
            <div ng-if="duration">{{ duration | limitTo: 5 }}</div>
        </div>
      </md-card-content>

    </div>

    <md-card-actions
        layout="row"
        layout-align="end start"
    >
        <!-- <md-button class="md-icon-button">
              <md-icon
                md-font-icon="favorite"
                md-font-set="material-icons"
              >
                favorite
              </md-icon>
        </md-button>
        <md-button class="md-icon-button">
              <md-icon
                md-font-icon="description"
                md-font-set="material-icons"
              >
                description
              </md-icon>
        </md-button>
        <md-button class="md-icon-button">
              <md-icon
                md-font-icon="share"
                md-font-set="material-icons"
              >
                share
              </md-icon>
        </md-button> -->
        <!-- <md-button class="md-icon-button" ng-click="deleteRecording( recording )">
              <md-icon
                md-font-icon="delete"
                md-font-set="material-icons"
              >
                delete
              </md-icon>
        </md-button> -->
    </md-card-actions>

</md-card>
