<div
    class="library-view-wrapper"
    ng-style="{
      'background-image': 'url( {{ user.profileImgUrl }} )'
      , 'background-position': 'center'
      , 'background-repeat': 'no-repeat'
    }"
>
    <div class="library-view-library-audio-wrapper">
        <div
          ng-if="audioUrls"
        >
          <mp3-player-dir
            type="library-view"
            audio-url="audioUrl"
            bookmarks="bookmarks"
            ng-repeat="recording in user.recordings"
            recording="recording"
          >

          </mp3-player-dir>
        </div>

    </div>

    <player-dir></player-dir>

</div>
