<div
    class="library-view-wrapper"
>
    <div class="library-view-wrapper-user-info-wrapper">
        <top-nav-bar
            songjam-search-query="songjamSearchQuery"
            type="main"
        >
        </top-nav-bar>
        <div class="library-view-wraooer-user-info-wrapper-content-flex-wrapper">
            <div class="library-view-wrapper-user-info-wrapper-content-wrapper">
                <h1 class="library-view-wrapper-user-info-wrapper-content-wrapper-full-name">
                  {{ user.firstName }} {{ user.lastName }}
                </h1>
                <div 
		     class="library-view-wrapper-user-info-wrapper-content-wrapper-avatar"
		     ng-style="{ 'background-image': 'url( {{ user.profileImgUrl }} )'
                                 , 'background-position': 'center'
                                 , 'background-repeat': 'no-repeat'
                                 , 'background-size': 'cover' }"	 
		     alt=""
		>
		</div>
                <h1 class="library-view-wrapper-user-info-wrapper-content-wrapper-songjam-count">
                  {{ songjamCount }} SongJams
                </h1>
            </div>
        </div>
    </div>

    <div class="library-view-wrapper-library-audio-wrapper" scroll>

        <mp3-player-dir
            class="library-view-wrapper-mp3-player-dir"
            type="library-view"
            ng-if="recording"
            ng-repeat="recording in user.recordings | filter: songjamSearchQuery"
            recording="recording"
        >
        </mp3-player-dir>

    </div>

</div>
