.library-view-wrapper {
    height: 78vh;
    
    .library-view-library-audio-wrapper {
        height: 69vh;
        padding: 33em 4em 5em 4em;
        overflow: scroll;
    }
}

player-dir {
    display: inline-block;
}
