<div class="recorder-view-wrapper">
    <div class="recorder-view-content-wrapper">
        <h2>Select the circle to start recording your next SongJam.</h2>
        <button ng-click="startRecording()">Start recording</button>
        <button ng-click="stopRecording()">Stop recording</button>
        <button ng-click="addBookmark()">Bookmark</button>
        <button ng-click="addRecording()">Save Recording</button>

        <h2>Bookmarks:</h2>
        <ul>
          <li ng-repeat="bookmark in bookmarks">{{ bookmark }} s</li>
        </ul>

        <h2>Lyrics:</h2>
        <p>{{ lyrics }}</p>

        <h2>S3 data:</h2>
        <p>{{ s3Data }}</p>
    </div>
</div>
