<div class="recorder-view-wrapper">
    <top-nav-bar type="main"></top-nav-bar>
    <div class="recorder-view-content-wrapper">
        <h2 ng-show="isReadyToRecord">
            Select the microphone to start recording your next SongJam.
        </h2>
        <h2
            class="recorder-view-wrapper-content-wrapper-bookmarking-instructions"
            ng-show="isRecording"
        >
            Sing something cool?
            <br/>
            Bookmark it so SongJam can remember it for you.
        </h2>
        <div
            ng-hide="audioPreviewUrl"
        >
            <div
              id="waveform-recorder-view"
            >
            </div>
        </div>

        <div
            class="recorder-view-wrapper-content-wrapper-mp3-player-wrapper"
            ng-if="audioPreviewUrl"
        >
            <!-- <h2>Preview your SongJam:</h2> -->
            <mp3-player-dir
              audio-preview-url="audioPreviewUrl"
              bookmarks="bookmarks"
              type="library-view"
            >
            </mp3-player-dir>
        </div>

        <div class="recorder-view-wrapper-content-wrapper-bottom-row-buttons-wrapper"
            layout="row"
            layout-align="space-around center"
        >
            <md-button
                class="md-icon-button
                      md-fab
                      recorder-view-wrapper-buttons"
                id="restart-recording-button"
                ng-click="restartRecording()"
                ng-show="lyrics.lyrics"
            >
                <md-icon
                    class="recorder-view-wrapper-font-icons"
                    md-font-icon="redo"
                    md-font-set="material-icons"
                >
                    redo
                </md-icon>
            </md-button>
            <md-button
                class="md-icon-button
                      recorder-view-wrapper-buttons"
                id="stop-button"
                ng-click="stopRecording()"
                ng-show="isRecording"
            >
                <md-icon
                    class="recorder-view-wrapper-font-icons"
                    md-font-icon="stop"
                    md-font-set="material-icons"
                >
                    stop
                </md-icon>
            </md-button>
            <md-button
                class="md-icon-button
                      md-fab
                      md-primary
                      recorder-view-wrapper-buttons"
                id="bookmark-button"
                ng-click="addBookmark()"
                ng-show="isRecording"
            >
                <md-icon
                    class="recorder-view-wrapper-font-icons"
                    md-font-icon="bookmark"
                    md-font-set="material-icons"
                >
                    bookmark
                </md-icon>
            </md-button>
            <md-button
                class="md-fab
                      md-primary
                      md-icon-button
                      recorder-view-wrapper-buttons"
                id="record-button"
                ng-click="startRecording()"
                ng-show="isReadyToRecord"
            >
                <md-icon
                    class="recorder-view-wrapper-font-icons"
                    md-font-icon="mic"
                    md-font-set="material-icons"
                >
                    mic
                </md-icon>
            </md-button>

            <md-button
                class="md-icon-button
                      md-fab
                      md-primary
                      recorder-view-wrapper-buttons"
                id="cloud-upload-button"
                ng-click="uploadToS3()"
                ng-show="lyrics.lyrics"
            >
                <md-icon
                    class="recorder-view-wrapper-font-icons"
                    md-font-icon="cloud_upload"
                    md-font-set="material-icons"
                >
                    cloud_upload
                </md-icon>
            </md-button>
        </div>

        <div
            class="recorder-view-content-wrapper-google-speech-progress-indicator"
            ng-if="isGoogleSpeechActive"
        >
            <div
                layout="row"
                layout-sm="column"
                layout-align="space-around"
            >
                <md-progress-circular md-diameter="96"></md-progress-circular>
            </div>
            <h2>Please wait while we retrieve your awesome lyrics from your SongJam.<h2>
        </div>
        <div
            class="recorder-view-content-wrapper-lyrics-wrapper-flex-wrapper"
        >
            <div
                class="recorder-view-content-wrapper-lyrics-wrapper"
                ng-if="lyrics.lyrics"
            >
                <div
                    layout="row"
                    layout-align="center-center"
                >
                    <h2>Lyrics</h2>
                    <md-button
                        class="md-icon-button"
                        ng-click="openLyricsEditor()"
                    >
                        <md-icon
                            md-font-icon="mode_edit"
                            md-font-set="material-icons"
                        >
                            mode_edit
                        </md-icon>
                    </md-button>
                </div>

                <p
                    class="recorder-view-wrapper-content-wrapper-lyrics-wrapper-lyrics-text"
                    ng-show="!isLyricEditorActive"
                >
                    <span ng-show="lyrics.lyrics">{{ lyrics.lyrics }}</span>
                    <span ng-show="lyrics.errorMessage">{{ lyrics.errorMessage }}</span>
                </p>

                <md-input-container
                    class="recorder-view-wrapper-content-wrapper-lyrics-wrapper-lyrics-editor
                            md-block"
                    ng-show="isLyricEditorActive"
                >
                    <textarea
                        md-select-on-focus
                        ng-model="lyrics.lyrics"
                    >
                    </textarea>
                </md-input-container>
            </div>
        </div>

    </div>
</div>
