* {
  box-sizing: border-box;
}

.landing-page-wrapper {
  height: 100vh;
  width: 100%;
  text-align: center;
}

main {
  height: 84vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
