<div
  class="player-directive-wrapper"
  layout="row"
>
    <div layout="center center">
        <md-button class="md-icon-button">
              <md-icon
                md-font-icon="skip_previous"
                md-font-set="material-icons"
              >
                skip_previous
              </md-icon>
        </md-button>
        <md-button class="md-icon-button">
              <md-icon
                md-font-icon="play_circle_filled"
                md-font-set="material-icons"
              >
                play_circle_filled
              </md-icon>
        </md-button>
        <md-button class="md-icon-button">
              <md-icon
                md-font-icon="skip_next"
                md-font-set="material-icons"
              >
                skip_next
              </md-icon>
        </md-button>
    </div>
</div>
