<div
  class="player-directive-wrapper"
  layout="row"
  layout-align="center center"
>
    <div
        class="player-directive-audio-info"
        flex="30"
    >
        <p>SongJam 10.10.16 07:16 PM</p>
    </div>

    <div
        class="player-directive-player-buttons"
        flex="40"
        layout="row"
        layout-align="center center"
    >
        <md-button class="md-icon-button">
            <md-icon
              md-font-icon="replay_30"
              md-font-set="material-icons"
            >
                replay_30
            </md-icon>
        </md-button>
        <md-button class="md-icon-button">
              <md-icon
                md-font-icon="skip_previous"
                md-font-set="material-icons"
              >
                skip_previous
              </md-icon>
        </md-button>
        <md-button class="md-icon-button">
              <md-icon
                md-font-icon="play_circle_filled"
                md-font-set="material-icons"
              >
                play_circle_filled
              </md-icon>
        </md-button>
        <md-button class="md-icon-button">
              <md-icon
                md-font-icon="skip_next"
                md-font-set="material-icons"
              >
                skip_next
              </md-icon>
        </md-button>
        <md-button class="md-icon-button">
              <md-icon
                md-font-icon="forward_30"
                md-font-set="material-icons"
              >
                forward_30
              </md-icon>
        </md-button>
    </div>

    <div
        class="player-directive-audio-info"
        flex="30"
    >
        <md-icon
            flex="5"
            md-font-icon="volume_down"
            md-font-set="material-icons"
        >
          volume_down
        </md-icon>
        <md-slider
            flex="20"
            ng-model="currentVolume"
            min="0"
            max="20"
        >
        </md-slider>
        <md-icon
            flex="5"
            md-font-icon="volume_up"
            md-font-set="material-icons"
        >
          volume_up
        </md-icon>
    </div>
</div>
