<nav
    class="top-nav-bar-main-view-wrapper"
    ng-class="{ min:boolChangeClass}"
>
    <h1 ui-sref="library-view">SONGJAM</h1>

    <md-input-container class="top-nav-bar-main-view-wrapper-search-bar" layout="row" layout-align="center center">
        <md-icon
          class="top-nav-bar-main-view-wrapper-search-bar-icon"
          md-font-icon="search"
          md-font-set="material-icons"
        >
          search
        </md-icon>
        <input type="search" ng-model="songjamSearchQuery"></input>
    </md-input-container>

    <div>
        <md-button
          class="md-raised md-primary"
          ui-sref="recorder"
        >
          RECORD
        </md-button>
        <md-menu md-position-mode="target-right target">
            <md-button
                class="md-icon-button
                      top-nav-bar-main-wrapper-avatar-icon-wrapper"
                ng-click="$mdOpenMenu( $event )"
            >
                <img
                    alt=""
                    class="top-nav-bar-main-wrapper-avatar-icon"
                    src="{{ user.profileImgUrl }}"
                >
            </md-button>
            <md-menu-content width="2">
                <md-menu-item>
                    <p class="md-title">Signed in as Andrew Plan</p>
                </md-menu-item>

                <md-menu-divider></md-menu-divider>

                <md-menu-item>
                    <md-button ui-sref="library-view">Library</md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button>Account Settings</md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button href="#/" ng-click="authService.logout()">Logout</md-button>
                </md-menu-item>
            </md-menu-content>

        </md-menu>
    </div>
</nav>
