<div>
  <nav>
    <h1 ui-sref="landing-page">SONGJAM</h1>

    <div>
        <md-button
          class="md-raised md-primary"
          ui-sref="recorder"
        >
          RECORD
        </md-button>
        <md-menu md-position-mode="target-right target">
            <md-button
            class="md-icon-button"
            ng-click="$mdOpenMenu( $event )"
            >
                <md-icon
                  md-font-icon="account_circle"
                  md-font-set="material-icons"
                  md-menu-origin=""
                >
                  account_circle
                </md-icon>
            </md-button>
            <md-menu-content width="2">
                <md-menu-item>
                    <p class="md-title">Signed in as Andrew Plan</p>
                </md-menu-item>

                <md-menu-divider></md-menu-divider>

                <md-menu-item>
                    <md-button ui-sref="library-view">Library</md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button>Account Settings</md-button>
                </md-menu-item>
            </md-menu-content>

        </md-menu>
    </div>
  </nav>

  <md-content></md-content>

</div>
