* {
  font-family: 'Montserrat', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 1px 1px gainsboro;

  h1 {
    padding-left: 0.6em;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 1px;
  }

  $button-height: 3em;

  #sign-in {
    height: $button-height;
  }

  #create-account {
    height: $button-height;
    // border: 1px solid white;
  }

}
