@mixin background-and-text-transition( $bg-color, $text-color ) {
    background-color: $bg-color;
    color: $text-color;
}

* {
  font-family: 'Montserrat', sans-serif;
}

body, html {
    height: 100vh;
    width: 100vw;
}

.top-nav-bar-landing-page-wrapper, .top-nav-bar-main-view-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255,255,255,0.0);
    color: #F4511E;
    transition: all 0.2s ease-in-out;
  }

.top-nav-bar-main-view-wrapper {
    &-songjam-heading {
      
    }

    &-search-bar {
        width: 25em;

        &-icon {
            color: #F4511E;
        }

        input {
          background-color: rgba(255,255,255,0.1);
          width: 100%;
        }
    }

    &-avatar {
        &-wrapper {
          width: 3em;
          height: 3em;
          border-radius: 50%;
        }
        &-icon {
          width: 100%;
          height: 100%;
        }
    }

    &-right-side-buttons-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 11em;
        margin-right: 1em;

        .record-button {
            margin-right: 2em;
        }
    }
}

#songjam-heading {
  padding-left: 0.6em;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1px;

  &:hover {
      cursor: pointer;
  }
}

#sign-in {
    height: 3em;
}

.nav-bar-transition {
    @include background-and-text-transition( white, black );
}

.search-icon-transition {
    @include background-and-text-transition( rgba(255,255,255,0.0), rgb(0, 0, 0) );
}
